body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-size: cover;
  background-color: black;
}
.createpost {
  background-color: palevioletred;
  width: 40%;
  height: 30%;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.createpost form {
  padding: 10px;
  margin: 10px;
}

.log-out {
  color: white;
  text-decoration: none;
  margin-left: auto;
}

.post_container {
  margin: 10px;
  background-color: aquamarine;
  height: 500px; /* Set the desired height */
  overflow: auto;
  width: 50%;

  margin-left: auto;
  margin-top: -225px;
}

.post_container::-webkit-scrollbar {
  width: 0.5em;
}

.post_container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.post {
  margin: 10px;
  padding: 10px;
  background-color: antiquewhite;
}

